! rofi base colors
#define rofibg #282828

! get dem sweet new color settings
rofi.color-enabled: true

! State:           bg      fg       bgalt   hlbg     hlfg
rofi.color-normal: rofibg, #eeeeee, rofibg, #eeeeee, rofibg
rofi.color-urgent: rofibg, #eeeeee, rofibg, #eeeeee, rofibg
rofi.color-active: rofibg, #eeeeee, rofibg, #eeeeee, rofibg
!                  background border
rofi.color-window: rofibg,    rofibg
rofi.opacity: 85
rofi.width: 100
rofi.padding: 480
rofi.lines: 5
rofi.bw: 0
rofi.font: PragmataPro 25
